<div class="facet-box">
	<div class="facet-box-header">
		<span class="facet-box-title">
			<span [ngClass]="icon"></span>
			<span *ngIf="title">{{title}}</span>
		</span>
		<span class="pull-right">
<!-- 			<span class="fa fa-trash-o" *ngIf="selected && selected.length > 0" (click)="resetFacet()"></span> -->
		</span>
	</div>
	<hr>
	<ul>
		<li *ngFor="let facet of currentList" class="facet-item" [ngClass]="{'active': selected && selected.indexOf(facet.name) != -1}">
			<div (click)="switchFacet(facet)">
				<span class="facet-name">{{facet.name}}</span>
				<span *ngIf="facet.count > 0" class="pull-right">{{facet.count}}</span>
			</div>
		</li>
		<li class="facet-change" *ngIf="hasMore()" (click)="changeLimit()">more</li>
		<li class="facet-change" *ngIf="hasLess()" (click)="changeLimit()">less</li>
	</ul>
</div>
