.box-event {
	background-color: white;
	padding: 5px;
	margin-bottom: 5px;
/* 	margin: 5px; */
}

.box-event .header {
	font-size: medium;
	text-transform: capitalize;
	font-weight: bold;
}

.box-event .header .image {
	display: inline-table;
	text-align: center;
	width: 10%;
}

.box-event .header .image img {
	vertical-align: top;
	height: 30px;
}

.box-event .header .image .img-status {
	opacity: 0.8;
	text-align: center;
}

.box-event .header .title {
	display: inline-table;
	width: 70%;	
}

.box-event .header .title .subtitle {
	font-size: x-small;
	font-weight: normal;
	text-transform: none;
}

.box-event .box-info {
	font-size: small;
	text-transform: capitalize;
	padding: 5px;
}

.box-event .box-info .logo {
	text-align: center;
}

.box-event .box-info .separator {
	border-bottom: dashed 1px seagreen;
	padding-bottom: 5px;
/* 	margin-bottom: 5px; */
}

.box-event .box-info .month {
	color: orange;
	text-transform: uppercase;
}

.box-event .box-info .address {
	font-size: x-small;
}


.box-event .cell {
	display: inline-table;
}
